<div class='w3-container'>
</div>
<div class='step step2'>
    <div class='w3-row'>
        <div class='w3-container'>
            <span class='stepHeading'>PDF pages <span id='numberOfPages'>N/A</span></span>
            <p>Uploaded successfully, enter specific range that you want to split (start page and end page). Note: start page and end page must be a valid value (e.g: 1 <= start page <= end page <= number of page )</p>
        </div>
    </div>
    <div class='w3-row align-bottom'>
        <div class='w3-container w3-third' >
            <p><label for='startPage'>Start page</label><input type='text' id='startPage' class='w3-input w3-border inputPageRange'/></p>
        </div>
        <div class='w3-container w3-third' >
            <p><label for='endPage'>End page</label><input type='text' id='endPage' class='w3-input w3-border inputPageRange'/></p>
        </div>
        <div class='w3-container w3-third'>	
            <button type='button' id='splitBtn' class='w3-button w3-red w3-right'>Split</button>
        </div>
    </div>
</div>