<h1 class="text-uppercase"><b>Khi Nao Dung Gravity Well 3D Explorer - Han Che</b></h1>
<time itemprop="dateUpdated" datetime="2026-07-14T00:00:00"><b>Last reviewed: 2026-07-14</b></time>
<hr/>
<p>Mo Gravity Well 3D Explorer khi ban can so sanh toc do thoat cua Mat Trang / Trai Dat / Sao Moc / Mat Troi (2.38 / 11.2 / 59.5 / 617.5 km/s) duoi dang gieng tren mot mat phang - hoac doc thong tin r_s = 2GM/c^2 cua Mat Troi ma khong can bieu do sach giao khoa.</p>
<ul>
<li>Khoi dong lop hoc ve toc do thoat</li>
<li>Xem truoc bai tap voi Mat Trang, Trai Dat, Sao Moc va Mat Troi</li>
<li>Kiem tra nhanh toc do thoat tang manh ve huong Mat Troi</li>
</ul>
<p>Bo qua neu ban can bo giai geodesic GR bang so hoac video dia boi tu - do la lanh dia cua Black Hole 3D Visualizer.</p>
<p>Moi thu o lai tren thiet bi cua ban: khong tai len, khong tai khoan, va bang thong tin trich dan cung cac gia tri thoat da cong bo duoc hien trong canh.</p>
<p><a href="/space-3d/gravity-well.html">Mo Gravity Well 3D Explorer</a> &middot; <a href="/space-3d.html">Quay Lai Space 3D</a></p>
