<div class="w3-container">
    <div class="w3-panel w3-pale-green w3-leftbar w3-border-green" style="margin-top: 10px;">
        <p><b>Camera test</b> helps you confirm your webcam works in the browser before a meeting or recording. Check permissions, preview video, and verify resolution in seconds.</p>
        <ol style="margin-top: 6px; margin-bottom: 6px;">
            <li>Click <b>Start Camera</b> and allow browser permissions.</li>
            <li>Preview the video and confirm the resolution shown.</li>
            <li>Switch cameras or capture a test photo if needed.</li>
        </ol>
        <p style="margin-bottom: 0;"><b>Troubleshooting:</b> If nothing shows, close apps that use the camera and re-check the permission icon in your address bar.</p>
    </div>
</div>
<div class="w3-container camTestContainer">
    <div class="w3-row w3-container resultC">
        <div class="w3-col" style="position: relative;">
            <div class="resultOK text hideEl">
                <div class="w3-col">
                    <p>Your camera resolution: 
                        <b>
                            <span class="resolutionInfo">N/A</span>
                        </b>
                    </p>
                </div>
            </div>
            <button id="startBtn" class="w3-button w3-red" style="top: calc(50% - 50px);left: calc(50% - 50px);height: 100px;width: 100px;border: 1px solid #fff;border-radius: 50%;color: transparent !important;z-index: 99;background-color: transparent !important;content: none !important;text-align: center;vertical-align: middle;">
                <i class="fa fa-play-circle" style="color: #fff !important;font-size: 60px;"></i>
                <span class="w3-hide-small">&nbsp;&nbsp;Start Camera</span>
            </button>
            <button id="switch" class="w3-button w3-red resultOK hideEl" style="right: 0;top: 0;" disabled="disabled">
                <i class="fa fa-switch"></i>
                <span class="w3-hide-small">&nbsp;&nbsp;&nbsp;Switch Camera</span>
            </button>
            <button id="edit" class="w3-button w3-red resultOK hideEl" style="right: 50px;height: 50px;" disabled="disabled">
                <i class="fa fa-edit"></i>
                <span class="w3-hide-small">&nbsp;&nbsp;Edit Captured Photo</span>
            </button>
            <button id="flip" class="w3-button w3-red resultOK hideEl" style="left: 0;top: 0;" disabled="disabled">
                <i class="fa fa-flip"></i>
                <span class="w3-hide-small">&nbsp;&nbsp;Toggle Flipping</span>
            </button>
            <button id="filters" title="Only apply in live preview, not for download and edit" class="w3-button w3-red w3-hide-small resultOK hideEl" style="position: absolute;background-color: transparent !important;left: 50px;height: 50px;width: 50px;" disabled="disabled">
                <i class="fa fa-filter"></i>
                <span class="w3-hide-small">&nbsp;&nbsp;Filters</span>
            </button>
            <div class="w3-row w3-container btnC">
                <button id="capture" class="w3-button w3-red resultOK hideEl" style="left: calc(50% - 25px);top: calc(50% - 25px);border-radius: 50%;text-align: center;vertical-align: middle;padding: unset;border: 1px solid #fff;background-color: #fff !important;" disabled="disabled">
                    <i class="fa fa-capture"></i>
                    <span class="w3-hide-small">  Capture</span>
                </button>
                <button id="download" class="w3-button w3-red resultOK hideEl" style="right: 0;top: calc(50% - 25px);height: 50px;width: 50px;border-radius: 50%;text-align: center;vertical-align: middle;padding: unset;z-index: 99;background-color: transparent !important;" disabled="disabled">
                    <i class="fa fa-download"></i>
                    <span class="w3-hide-small">&nbsp;&nbsp;Download Captured Photo</span>
                </button>
                <img loading="lazy" id="img-review" class="hideEl" src=""/>
            </div>
            <video id="video" muted="" autoplay="" playsinline=""></video>
        </div>
    </div>
</div>