<h1 class="text-uppercase"><b>Black Body Radiation 3D Explorer vs Lua Chon Khac</b></h1>
<time itemprop="dateUpdated" datetime="2026-07-19T00:00:00"><b>Last reviewed: 2026-07-19</b></time>
<hr/>
<address class="author"><a rel="author" href="/editorial-team.html">freetoolonline.com editorial team</a></address>
<p>Black Body Radiation 3D Explorer la cong cu day Wien/Planck mien phi ngay trong trinh duyet, voi kha nang doc Mat Troi tu ~5772 K den ~502 nm va cac muc nhiet do O-M - khong can cai dat phong thi nghiem quang pho.</p>
<div class="w3-responsive"><table class="w3-table-all w3-small">
<thead><tr><th>Lua chon</th><th>Day Wien + Planck</th><th>Cai dat</th><th>Tot nhat cho</th></tr></thead>
<tbody>
<tr><td>Black Body Radiation 3D Explorer</td><td>Co - T lien tuc + cac muc O-M</td><td>Khong (trinh duyet)</td><td>Hieu nhanh buoc song dinh</td></tr>
<tr><td>Star Lifecycle 3D Explorer</td><td>Duong thoi gian tien hoa, khong phai thanh Wien</td><td>Khong</td><td>Bai hoc trinh tu giai doan</td></tr>
<tr><td>Stellar Magnitude 3D Explorer</td><td>Do sang, khong phai nhiet do mau</td><td>Khong</td><td>Thang do sao Pogson</td></tr>
<tr><td>Phong thi nghiem quang pho de ban</td><td>Vach quang pho + thiet bi</td><td>Cai dat / tai khoan</td><td>Khoa hoc phong thi nghiem nghien cuu</td></tr>
</tbody>
</table></div>
<p><a href="/space-3d/black-body-radiation.html">Mo Black Body Radiation 3D Explorer</a> · <a href="/space-3d.html">Quay Lai Space 3D</a></p>
