<h1 class="text-uppercase"><b>Impact Crater Formation 3D Explorer tung buoc</b></h1>
<time itemprop="dateUpdated" datetime="2026-07-19T00:00:00"><b>Last reviewed: 2026-07-19</b></time>
<p>Mo Impact Crater Formation 3D Explorer, so sanh Barringer, Chicxulub va Vredefort tren cung ty le, sau do keo thanh truot va cham de tang truong mieng hut thu nghiem.</p>
<ol>
<li>Mo /space-3d/impact-crater-formation.html va doi mat dat cung ba vien mieng hut.</li>
<li>Nhan vien nho nhat - Mieng hut Barringer, khoang 1.19 km va 50,000 nam tuoi.</li>
<li>Nhan vien trung - Chicxulub, khoang 180 km va 66 trieu nam tuoi, va cham cuoi ky Phan.</li>
<li>Nhan vien lon nhat - Vom Vredefort, khoang 300 km (uoc tinh ban dau) va 2.02 ty nam tuoi.</li>
<li>Keo thanh truot tu 50 m len 15 km va xem mieng hut thu nghiem mau do lon theo quy tac ty le 20 lan.</li>
</ol>
<p>Next: the <a href="/guides/vi/impact-crater-formation-when.html">when guide</a> or <a href="/guides/vi/impact-crater-formation-vs-alternatives.html">vs alternatives</a>. Open the <a href="/space-3d/impact-crater-formation.html">Impact Crater Formation 3D Explorer</a>.</p>
