<h1 class="text-uppercase"><b>How to explore Apollo Landing Sites on the Moon 3D Explorer</b></h1>
<time itemprop="dateUpdated" datetime="2026-08-07T00:00:00"><b>Last reviewed: 2026-08-07</b></time>
<p class="byline">Reviewed by <a href="/editorial-team.html" rel="author">FreetoolOnline editorial team</a></p>
<p>Open the explorer and click each yellow marker to see where the six Apollo crews actually landed.</p>
<ol>
<li>Open /space-3d/apollo-landing-sites-moon-3d.html and wait for the Moon and six yellow markers to appear.</li>
<li>Click any marker on the Moon - the facts panel fills with that mission's landing date and crew.</li>
<li>Use the dropdown above the scene to jump straight to any of the other five missions.</li>
<li>Drag to rotate the Moon and compare how far apart the six sites really are.</li>
<li>Read the site names table below for a quick side-by-side of all six landings.</li>
</ol>
<br/><h2><b>Apollo landing key figures</b></h2>
<table class="w3-table w3-bordered w3-small">
<tr><th>Figure</th><th>Value</th></tr>
<tr><td>Crewed landing sites plotted</td><td>6 (Apollo 11, 12, 14, 15, 16, 17)</td></tr>
<tr><td>First landing</td><td>Apollo 11, 1969-07-20</td></tr>
<tr><td>Last landing</td><td>Apollo 17, 1972-12-11</td></tr>
</table>
<figure class="illustration">
<img src="/img/illustrations/stat-callout/guidesapollolandingsitesstepbystep__cbb2cd72.svg" alt="Compare all six crewed Apollo landings from Apollo 11 in 1969 to Apollo 17 in 1972." loading="lazy" width="360" height="200">
<figcaption>Six crewed landings, Apollo 11 (1969) to Apollo 17 (1972) - compare in the table above.</figcaption>
</figure>
<p>Next: the <a href="/guides/apollo-landing-sites-when.html">when guide</a> or <a href="/guides/apollo-landing-sites-vs-alternatives.html">vs alternatives</a>. Open the <a href="/space-3d/apollo-landing-sites-moon-3d.html">Apollo Landing Sites on the Moon 3D Explorer</a>.</p>
