<h1 class="text-uppercase"><b>Khi Nao Dung Black Body Radiation 3D Explorer - Phien Tot Nhat va Gioi Han</b></h1>
<time itemprop="dateUpdated" datetime="2026-07-16T00:00:00"><b>Last reviewed: 2026-07-16</b></time>
<hr/>
<p>Mo <a href="/space-3d/black-body-radiation.html">Black Body Radiation 3D Explorer</a> khi ban can hieu dinh Wien (l_max = 2.897771955e-3 / T) voi Mat Troi khoang 5772 K den khoang 502 nm va preset O (khoang 30.000 K) den M (khoang 3.000 K) - khong can phong thi nghiem pho desktop hay fit duong hap thu.</p>
<br/><h2><b>Khoi dong dinh Mat Troi</b></h2>
<p>Khoi dong dinh Mat Troi bat dau khi ban mo Black Body Radiation 3D Explorer, cham preset G hoac Mat Troi, va doc l_max = 2.897771955e-3 / T gan khoang 502 nm tren bang su kien - nhanh hon tinh tay tren bang mot minh.</p>
<br/><h2><b>O-xanh doi M-do</b></h2>
<p>O-xanh doi M-do van doc duoc khi ban buoc qua preset O va M va thay danh dau dinh tren thanh duong cong Planck di chuyen. Dieu chinh +/-500 K; mau sao theo gan dung sac do vat den ma khong ve duong hap thu.</p>
<br/><h2><b>Phien Black Body Radiation 3D Explorer khong phu hop</b></h2>
<p>Phien Black Body Radiation 3D Explorer khong phu hop la pho danh sach duong, mo hinh do sang giua sao, dong thoi gian tien hoa, hay thang do sang. Cho vong doi sao mo <a href="/space-3d/star-lifecycle.html">Star Lifecycle 3D Explorer</a>; cho xep hang do sang mo <a href="/space-3d/stellar-magnitude.html">Stellar Magnitude 3D Explorer</a>. Trang black-body can WebGL va khong phai tro choi thang/thua.</p>
<p><a href="/space-3d.html">&larr; Quay lai Space 3D</a></p>
