<div class="w3-container">
</div>
<div class='w3-container micTestContainer' style='opacity: 0;'>
    <div class='w3-row'>
        <div class='w3-container canvasContainer' >
            <div class='w3-row'>
                <button id='startBtn' class='w3-button w3-red btnC'><i class="fa fa-play-circle"></i>&nbsp;&nbsp;Start Microphone Capture</button>
            </div>
            <div class='w3-row'>
                <label>
                    <input class='w3-check' type='checkbox' id='playSoundFromMic' style="margin-top: 3px;"> Play sound from your microphone
                </label>
            </div>
            <canvas class="resultOK hideEl" id="canvas" height="325" style="display: block;"></canvas>
        </div>
    </div>
</div>
<video id="video" muted autoplay playsinline="" style="display: none"></video>