<h1 class="text-uppercase"><b>Cara menjelajahi Lokasi Pendaratan Apollo di Bulan 3D</b></h1>
<time itemprop="dateUpdated" datetime="2026-08-07T00:00:00"><b>Terakhir diperbarui: 2026-08-07</b></time>
<p class="byline">Ditinjau oleh <a href="/editorial-team.html" rel="author">tim editorial FreetoolOnline</a></p>
<p>Buka penjelajah dan klik setiap penanda kuning untuk melihat di mana keenam kru Apollo benar-benar mendarat.</p>
<ol>
<li>Buka /space-3d/apollo-landing-sites-moon-3d.html dan tunggu Bulan beserta enam penanda kuning muncul.</li>
<li>Klik penanda mana pun di Bulan - panel fakta akan menampilkan tanggal pendaratan dan kru misi tersebut.</li>
<li>Gunakan menu dropdown di atas tampilan untuk langsung menuju salah satu dari lima misi lainnya.</li>
<li>Seret untuk memutar Bulan dan bandingkan jarak sebenarnya antara enam lokasi tersebut.</li>
<li>Baca tabel nama lokasi di bawah untuk perbandingan cepat keenam pendaratan tersebut.</li>
</ol>
<br/><h2><b>Angka kunci pendaratan Apollo</b></h2>
<table class="w3-table w3-bordered w3-small">
<tr><th>Data</th><th>Nilai</th></tr>
<tr><td>Lokasi pendaratan berawak yang ditandai</td><td>6 (Apollo 11, 12, 14, 15, 16, 17)</td></tr>
<tr><td>Pendaratan pertama</td><td>Apollo 11, 20-07-1969</td></tr>
<tr><td>Pendaratan terakhir</td><td>Apollo 17, 11-12-1972</td></tr>
</table>
<figure class="illustration">
<img src="/img/illustrations/stat-callout/guidesapollolandingsitesstepbystep__cbb2cd72.svg" alt="Bandingkan keenam pendaratan berawak Apollo, dari Apollo 11 pada 1969 hingga Apollo 17 pada 1972." loading="lazy" width="360" height="200">
<figcaption>Enam pendaratan berawak, Apollo 11 (1969) hingga Apollo 17 (1972) - bandingkan pada tabel di atas.</figcaption>
</figure>
<figure class="illustration">
<img src="/img/illustrations/property-grid-3x3/guidesapollolandingsitesstepbystep__43780d47.svg" alt="Bandingkan keenam pendaratan berawak Apollo secara berdampingan, dari Apollo 11 pada 1969 hingga Apollo 17 pada 1972." loading="lazy" width="480" height="240">
<figcaption>Bandingkan keenam pendaratan yang dikelompokkan pertama, tengah, dan terakhir, Apollo 11 hingga Apollo 17.</figcaption>
</figure>
<p>Selanjutnya: <a href="/guides/id/apollo-landing-sites-when.html">panduan kapan menggunakannya</a> atau <a href="/guides/id/apollo-landing-sites-vs-alternatives.html">perbandingan dengan alternatif</a>. Buka <a href="/space-3d/apollo-landing-sites-moon-3d.html">Penjelajah 3D Lokasi Pendaratan Apollo di Bulan</a>.</p>
