<div class="w3-container">
</div>
<div class='w3-container'>
    <div class='step step3' style='display:none;'>
        <div class='w3-row w3-container'>
            <span class='stepHeading'>Your HTML file is ready</span>
        </div>
        <div class='w3-row align-bottom'>
            <a id='downloadLink' target='_blank' download class='w3-button w3-red fa fa-down'>&nbsp;Download HTML</a>
        </div>
    </div>
    <div class='w3-row w3-container errorMsgAction' style='color: #c62828; display: none;'></div>
</div>
