.input,.output{
    height:0px;
    width:100% !important;
    font-size: 11px !important;
}
.output{
    height:0px !important;
    opacity: 0 !important;
    float: right !important;
    width: 0 !important;
}
.ui-menu {
    margin-right: 10px !important;
}
.ui-aside{
    overflow: auto !important;
}
.ui-editor{
    padding-bottom: 5px !important;
}