.page-imagemagick-onlineroot .settings .w3-col, 
.page-imagemagick-onlineroot .settings .w3-half, 
.page-imagemagick-onlineroot .settings .w3-third, 
.page-imagemagick-onlineroot .settings .w3-twothird, 
.page-imagemagick-onlineroot .settings .w3-threequarter, 
.page-imagemagick-onlineroot .settings .w3-quarter {
    width: 100% !important;
    margin-top: 10px;
}

.page-imagemagick-onlineroot .settings, .page-imagemagick-onlineroot .settings > div:first-child {
    margin-top: 0;
}