.json{
    height:400px;
    width:100% !important;
    font-size: 11px !important;
}
.ui-menu {
    margin-right: 10px !important;
}
.ui-aside{
    overflow: auto !important;
}
.ui-editor{
    padding-bottom: 5px !important;
}
.jsonParser{
    opacity: 0;
}
