.options{
    margin-top: 5px;
}
.page-video-makerroot .settings .w3-col, 
.page-video-makerroot .settings .w3-half, 
.page-video-makerroot .settings .w3-third, 
.page-video-makerroot .settings .w3-twothird, 
.page-video-makerroot .settings .w3-threequarter,
.page-video-makerroot .settings .w3-quarter {
    width: 100% !important;
    margin-top: 10px;
}