html.main-html[style*="background"]:not([style="background-image: inherit;"]) *:not(.colorBtn){
    background: none !important;
    background-color: transparent;
    color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    fill: transparent !important;
}

html.main-html[style*="background"]:not([style="background-image: inherit;"]) input:not(.colorBtn) {
    opacity: 0 !important
}

html.main-html[style*="background"]:not([style="background-image: inherit;"]) .ad-section {
    display: none;
}

.btnContainer button{
    float: left;
    margin-right: 10px;
    margin-top: 0 !important;
}
@media (max-width: 599px) {
    html.page-lcd-testroot .btnContainer{
        display: flex
    }

    html.page-lcd-testroot .btnContainer > button{
        margin-right: 0;
        padding: 8px 4px;
        flex: 1 1 auto;
    }
}

html.main-html.page-lcd-testroot[style*="background"]:not([style="background-image: inherit;"]) .colorBtn {
    opacity: 0.3;
    border: 1px solid transparent;
}

html.main-html.page-lcd-testroot .colorBtn {
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-left: 0.5px solid #e3e3e3;
    border-right: 0.5px solid #e3e3e3;
}

html.main-html.page-lcd-testroot[style*="background"] .colorBtn:hover {
    opacity: 1;
    border: 1px solid #e3e3e3;
}

html.main-html.page-lcd-testroot[style*="background"] .colorBtn[style*="background-color: black"], 
html.main-html.page-lcd-testroot[style*="background"] .colorBtn[style*="background-color: red"], 
html.main-html.page-lcd-testroot[style*="background"] .colorBtn[style*="background-color: green"], 
html.main-html.page-lcd-testroot[style*="background"] .colorBtn[style*="background-color: blue"],
html.main-html.page-lcd-testroot:not([style*="background"]) .colorBtn[style*="background-color: black"], 
html.main-html.page-lcd-testroot:not([style*="background"]) .colorBtn[style*="background-color: red"], 
html.main-html.page-lcd-testroot:not([style*="background"]) .colorBtn[style*="background-color: green"], 
html.main-html.page-lcd-testroot:not([style*="background"]) .colorBtn[style*="background-color: blue"]  {
    color: #fff !important;
}
