.btnC > button{
    padding-top:10px
}
.btnC > button > i.fa {
    font-size: 20px
}
.fa-play-circle:before{
    content: '\f144'
}
.fa-ok:before{
    content: '\f05d'
}
.fa-error:before{
    content: '\f071'
}
.hideEl{
    display: none !important
}
html.main-html.dark #canvas.resultOK {
    filter: invert(1);
}