.fa-expand:before {
    content: '\f065';
}
.fa-compress:before {
    content: '\f066';
}
.main-html.page-photo-editorroot #home::-webkit-scrollbar {
    height: 0;
    overflow: visible;
    width: 0;
}
.overflow-hidden {
    overflow: hidden!important;
}