.jqte * {
    font-family: 'Open Sans',sans-serif!important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.jqte_tool_7,.jqte_tool_8,.jqte_tool_9,.jqte_tool_10,.jqte_tool_11,.jqte_tool_12,.jqte_tool_13,.jqte_tool_14,.jqte_tool_15,.jqte_tool_20,.jqte_tool_21,.jqte_tool_19{
    display: none
}